/* reset  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
	--color-primary: #ffffff;
	--color-secondary: #000000;
	--color-nav-text-color: #6b6f74;
    --header-bg: rgb(141 199 186);
    --circle-bg: rgb(33 214 97);
    --user-bg: rgb(253 103 53);
    --trasparent-bg: rgb(129 129 129);
    --sidebar-bg: rgb(19 18 20);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 50px;
}

/* general */
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.wrapper{
    height: 100vh;
    /* overflow: hidden; */
}
.content{
    height:calc(100vh - 90px);
    width: 100%;
    background-color: var(--color-secondary);
}
/* sidebar  */
#sidebar{
    margin: 10px 0 10px 10px;
    width: 400px;
    background-color: var(--color-secondary);
}
.sidebar-top{
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--sidebar-bg);
}
.sidebar-top ul li{
    color: var(--color-nav-text-color);
    padding: 30px 0 15px 30px;
    font-size: 20px;
}
.sidebar-top ul li:hover{
    color: var(--color-primary);
}
.sidebar-top ul li i{
    margin-right: 10px;
}
/* sidebar bottom  */
.sidebar-bottom{
    height: calc(100% - 160px);
    border-radius: 10px;
    background-color: var(--sidebar-bg);
}
.libreria i,h4 {
    color: var(--color-nav-text-color);
}
.libreria:hover i:not(.fa-plus,.fa-arrow-right) , .libreria:hover h4{
    color: var(--color-primary);
}
.libreria .fa-plus:hover ,
.libreria .fa-arrow-right:hover {
    color: var(--color-primary);
}
.select li{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.select li a{
    color: var(--color-primary);
    padding: 10px;
    margin:0 5px;
    border-radius: 30px;
    font-size: 12px;
    background-color: var(--color-nav-text-color);
}
.brani{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.brani-container{
    height:420px;
    overflow-y: auto;
}
.brani-container::-webkit-scrollbar{
    display: none;
}

.img-container{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}
.text-container h4{
    padding-bottom: 5px;
    color: var(--color-primary);
}
.text-container span:not(.fa-thumbtack){
    color: var(--color-nav-text-color);
    font-weight:bold;
}
.text-container span .fa-thumbtack{
    color: green;
    transform: rotate(45deg);
}
/* main  */
main{
    width: calc(100% - 400px);
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}
header{
    background-color: var(--header-bg);
    height: 350px;
}
.mix-container{
    height: calc(100% - 350px);
    background-color: rgb(97, 97, 97);
    
}


/* toolbar  */
#toolbar{
    background-color: var(--color-secondary);
    height: 90px;
}



/* position  */
.p-relative{
    position: relative;
}
/* ulility flex  */

.d-flex{
    display: flex;
}
.f-end{
    justify-content: end;
}
.f-center{
    justify-content: center;
}
.space-bet{
    justify-content: space-between;
}
.f-colum{
    flex-direction: column;
}
.align-items{
    align-items: center;
    align-content: center;
}
.align-end{
    align-self: flex-end;
}
.wrap{
    flex-wrap:wrap;
}
.f-colum{
    flex-direction: column;
}
/* padding  */
.padding-b-5{
    padding-bottom: 5px;
}
.padding-b-10{
    padding-bottom: 10px;
}
.padding-b-40{
    padding-bottom: 40px;
}
.padding-b-50{
    padding-bottom: 50px;
}
/* padding right */
.padding-r-10{
    padding-right: 10px;
}
/* padding top  */
.padding-t-5{
    padding-top: 5px;
}
/* doppi padding  */
.padding-l-r-10{
    padding: 0px 10px;
}
.padding-l-r-5{
    padding: 0% 5%;
}
.padding-t-b-10{
    padding: 10px 0px;
}
.padding-sidebar{
    padding: 20px 20px 20px 20px;
}
.padding-button{
    padding: 20px 20px 20px 15px;
}
/* margin  */
.margin-t-b-20{
    margin: 20px 0px;
}
.margin-l-r-10{
    margin: 0px 10px;
}
