 /* reset  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
	--color-primary: #ffffff;
	--color-secondary: #000000;
	--color-nav-text-color: #6b6f74;
	--color-header-bg: #1a1a1a4f;
	--color-light-green: #adff2f;
	--color-plus-button-bg: #a3a3a3;
	--color-main-bg: #141922;
	--color-tool-bar-bg: #282828;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/* general  */

.wrapper{
    height: 100vh;
    background-color: orange;
    /* overflow: hidden; */
}

.content{
    height: calc(100vh - 90px);
    width: 100%;
}
/* header  */
.header{
    background-color: var(--color-header-bg);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
}

button{
    border: 1px solid var(--color-primary);
    background-color: var(--color-header-bg);
    border-radius: 20px;
    padding: 10px 20px;
    margin-right:10px;
    color: var(--color-primary);
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}

/* sidebar  */
.sidebar{
    width: 200px;
    background-color: var(--color-secondary);
    /* flex-shrink: 0; */
}

/* main  */

main{
    width: calc(100% - 200px);
   /* flex-grow: 1; */
   background-color: var(--color-main-bg);
   padding: 100px 20px 0px 20px;
   overflow-y: auto;
}
main h2,h3{
    color: var(--color-primary);
}
main h2{
    font-size: 2.7em;
    padding-bottom: 10px;
}
main h3{
    font-size: 1.8em;
}
main p{
    padding-top: 10px;
    font-size: 1.3em;
    color: var(--color-nav-text-color);
}

#playlist{
    padding-top: 20px;
}
.card-container{
    width: 100%;
    gap: 20px;
}

.card{
    width: calc(100% / 6 - 20px);
}

.img-container{
    padding: 20px 0px;
}
.img-container:hover{
    opacity: 0.4;
}

.text-container{
    text-align: center;
}

/* nav  */

nav div span{
    color: var(--color-nav-text-color);
}

nav{
    gap: 20px;
    min-height: 20px;
}

/* toolbar  */
#toolbar{
    background-color: var(--color-tool-bar-bg);
    height: 90px;
}


/* text  */
.text-center{
    text-align: center;
}
/* border-light-green */
.border-light-green:hover{
    border-bottom: 2px solid var(--color-light-green);
}

/* ulility flex  */

.d-flex{
    display: flex;
}

.f-end{
    justify-content: end;
}
.f-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}